<div class="m-subheader" sticky-header>
	<div class="row">
		<div class="col-sm-12 col-lg-6 col-xl-6">
			<h3 class="m-subheader__title">
				{{ 'Server Side Datatable' | translate }}
			</h3>
		</div>
		<div class="col-sm-12 col-lg-6 col-xl-6 m--align-right top-sticky">
			<button class="btn btn-primary m-btn" [routerLink]="['/datatable/server/form', 'create']">
				{{ 'New Data' | translate }}
			</button>
		</div>
	</div>
</div>

<div class="m-content">
	<div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
				<div class="m-portlet__body table-scroll">
					<div class="m--margin-bottom-20">
						<h5>
							<a href="https://datatables.net/" target="'_blank'">
								Datatable Documentation
							</a>
						</h5>
					</div>
					<table class="table table-striped table-hover" id="datatable"></table>
                </div>
            </div>
        </div>
    </div>
</div>