<div class="m-subheader" sticky-header>
	<div class="row">
		<div class="col-sm-12 col-lg-6 col-xl-6">
			<h3 class="m-subheader__title">
				{{ 'Filter' | translate }}
			</h3>
		</div>
	</div>
</div>

<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group m-form__group">
						<input class="form-control" [(ngModel)]="search" />
					</div>
				</div>
			</div>
			<div class="row m--margin-top-20">
				<div class="col-md-6">
					<table class="table text-center table-striped">
						<thead>
							<tr>
								<th>{{ 'Value' | translate }}</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let d of data | filter: search:''">
								<td>
									<p>{{ d }}</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
	</div>
</div>