/* body {
    background: #f7f7f7 !important; */
    /* margin: 100px; */
/* } */

body, html{
    height: 100%
  }
  body{
    margin: 100px;
    margin-bottom: 2px;
    padding-right: 12px;
    padding-left: 12px;
    background: #3f589c !important;
    opacity: 0.8;
  }

.has-danger .form-control, .has-danger .input-group-text, .form-control-feedback{
    border-color: #f4516c!important;
    color: #f4516c;
}