<div class="m-subheader" sticky-header>
	<div class="row">
		<div class="col-sm-12 col-lg-6 col-xl-6">
			<h3 class="m-subheader__title">
				{{ 'Image Download and Convert to Base64' | translate }}
			</h3>
		</div>
	</div>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
			<button class="btn btn-primary" (click)="download()">
				{{ 'Download' | translate }}
			</button>
			<br/><br/>
			<ng-container *ngIf="base64data">
				<img [src]="base64data" />
				<br/><br/>
				<p style="word-wrap: break-word;">
					{{ base64data }}
				</p>
			</ng-container>
		</div>
	</div>

	<div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
			<h5>
				If encounter CORS issue, do ask for assistance to config the server.
			</h5>
			<img style="width: 30%;" src="./assets/images/do_cors.jpg" />
		</div>
	</div>
</div>