.btn-upload {
	display: inline-block;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 500;
	input {
		display: none;
	}
}

.btn-upload:hover {
	text-decoration: underline;
}

.upload-box-content {
	position: relative;
	border: 2px dashed #716aca;
	border-radius: 4px;
    padding: 10px 20px 20px 20px;
    .upload-item, .drop-container {
		width: 100%;
    }
    .drop-container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		p {
			font-size: 16px;
			font-weight: 400;
			margin-top: 20px; 
		}
    }  
}

.custom-row {
	display: -webkit-flex;
}

.drag-over {
	height: 150px;
}

.mother-div {
	position: relative;
	width: 100%;
}

.banner-container {
	margin: 10px;
	border: 1px solid rgba(220,220,220, 1); 
	background-color: rgba(220,220,220, 0.2);
	height: 90%;
	position: relative;
	img {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		// height: 100%;
		width: 100%;
	}
}

.mother-div:hover {
	height: 100%;
	width: 100%;
	cursor: pointer;
	.banner-container {
		height: 90%;	
		background-color: grey;
		img {
			opacity: 0.5;
		}
	}
}

.img-overlap {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
}

.img-overlap-reorder {
	position: absolute;
	top: 8%;
	left: 50%;
	transform: translateX(-50%);
}

.default-hidden {
	display: none;
}

.img-icon {
	font-size: 2em;
	color: white;
}

.drop-zone {
	position: absolute;
    left: 50%;
    top: 0%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
	background-color: white;
	p {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 1.5em;
		color: #9F7F39;
	}
}


@media only screen and (max-width: 600px) {
    .img-container, .bg-container {
        .img-btn-container {
            width: 100% !important;
        }
    }
}