<div class="m-subheader" sticky-header>
	<div class="row">
		<div class="col-sm-12 col-lg-6 col-xl-6">
			<h3 class="m-subheader__title">
				{{ 'Image Uploader' | translate }}
			</h3>
		</div>
	</div>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-tools">
				<ul class="m-portlet__nav">
					<li class="m-portlet__nav-item" *ngIf="images.length < 10">
						<label class="btn-upload">
							<input type="file" accept="image/*" ngFileSelect [options]="options" 
								(uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
							<span class="m--font-brand">
								{{ 'Upload' | translate }}
							</span>
						</label>
					</li>
				</ul>
			</div>
		</div>
        <div class="m-portlet__body">
			<div class="m-form__section m-form__section--first">
				<div class="m--margin-bottom-30">
					<span class="m--font-bold">
						{{ 'Note: You may reorder banners by drag and drop' | translate }}
					</span>
				</div>
				<div class="form-group m-form__group row">
					<div class="col-sm-12 col-lg-10 col-xl-10 margin-center">
						<div class="upload-box-content" ngFileDrop (uploadOutput)="onUploadOutput($event)">
							<div class="drop-container" [ngClass]="{ 'drag-over': !images.length }" 
								(uploadOutput)="onUploadOutput($event)">
								<p class="m--align-center" *ngIf="!images.length">
									{{ 'Drag and drop files to upload' | translate }}
								</p>
							</div>
							<ng-container *ngIf="images.length">
								<div class="row">
									<div class="col-sm-12 col-lg-6 col-xl-3 custom-row" 
										*ngFor="let img of images; let i=index; let first=first; let last=last">
										<div class="mother-div" 
											(mouseenter)="img.show = true" (mouseleave)="img.show = false" 
											(dragstart)="getBeforeIndex(i)" (drop)="getAfterIndex(i)">
											<div class="banner-container m--align-center middle">
												<img class="img-max-height" *ngIf="img.src" [src]="img.src" width="200px">
											</div>
											<div [ngClass]="{ 'img-overlap-reorder':img.show, 'default-hidden': !img.show }">
												<div>
													<i *ngIf="!first" class="la la-arrow-circle-left cursor img-icon" 
														(click)="imageReorderByIcon(i, 'left')"></i>
													<i *ngIf="!last" class="la la-arrow-circle-right m--margin-left-20 cursor img-icon" 
														(click)="imageReorderByIcon(i, 'right')"></i>
												</div>
											</div>
											<div [ngClass]="{ 'img-overlap':img.show, 'default-hidden': !img.show }">
												<div>
													<i class="la la-eye cursor img-icon" data-toggle="modal" data-target="#image" 
														(click)="setModalImg(img.src)"></i>
													<i class="la la-trash m--margin-left-20 cursor img-icon" (click)="remove(i)"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
								<ng-container *ngIf="images.length && show">
									<div class="drop-zone" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)">
										<p>{{ 'Drag and drop files to upload' | translate }}</p>
									</div>
								</ng-container>
							</ng-container>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-container *ngIf="imageChangedEvent">
	<app-image-crop [imageChangedEvent]="imageChangedEvent" (reset)="resetCrop()" (uploaded)="setImage($event)"></app-image-crop>
</ng-container>

<app-image-zoom [modalImg]="modalImg"></app-image-zoom>