$switch-circ: 32px;
$switch-color: #34bfa3;
$switch-height: 20px;

$switchcolorsmap: (
    'info':#3B4752, 
    'danger': #F55753, 
    'success': #0dab9d, 
    'warning': #F8D053,
    'dark':#343a40
);

.hide {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
}

label.iosswitch {
    margin: 6px 0;
    display: block;
    position: relative;
    outline: none;
    user-select: none;
    padding: 2px;
    width: $switch-height * 2.7;
    height: $switch-height;
    border-radius: $switch-height/2;
    border: 1px solid rgba(202, 202, 202, 0.4);
    transition: box-shadow 0.4s, opacity 0.2s linear, background 0.2s linear;

    &:after {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto 0;

        width: $switch-circ;
        height: $switch-circ;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        transition:
            background 0.4s,
            transform 0.4s,
            height 0.2s,
            width 0.2s;
    }
}

label.iosswitch.active {
    box-shadow: inset 0 0 0 $switch-height tint( $switch-color, 50% );
    background: #cacaca;
}

label.iosswitch.disabled {
    opacity: 0.4;
}

label.iosswitch.active:after {
    // left: calc(100% - 32px);
    transform: translateX(25px);
    background: $switch-color;
}

@each $item in map-keys($switchcolorsmap) {
    label.iosswitch.active.color-#{$item}:after {
        background: map-get($switchcolorsmap, #{$item});
    }
}