<div class="m-subheader" sticky-header>
	<div class="row">
		<div class="col-sm-12 col-lg-6 col-xl-6">
			<h3 class="m-subheader__title">
				{{ 'Date Range Picker' | translate }}
			</h3>
		</div>
	</div>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group m-form__group">
						<app-range-picker [body]="body" (output)="datePickerOutput($event)"></app-range-picker>
	
						<label class="m--margin-top-10">Start Date: {{ body.startDate }}</label><br/>
						<label>End Date: {{ body.endDate }}</label><br/>

						<button class="btn m-btn btn-primary m--margin-top-20" (click)="setDate()">
							{{ 'Manually Set Date' | translate }}
						</button>
					</div>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-12">
					<p>
						<b>[id]="'anyHTMLId'"</b><br/>
						when required multiple date range picker in one component, default is 
						<span class="m--font-danger">
							'date_range'
						</span>
					</p>
					<p>
						<b>[isTimePicker]="true"</b><br/>
						when required time picker, default is
						<span class="m--font-danger">
							true
						</span>
					</p>
					<p>
						<b>[minDate]="'2019-01-01'"</b><br/>
						when required to set min date, default is
						<span class="m--font-danger">
							null
						</span>
					</p>
					<p>
						<b>[maxDate]="'2019-01-01'"</b><br/>
						when required to set max date, default is
						<span class="m--font-danger">
							today	
						</span>
					</p>
					<p>
						<b>[localeFormat]="'DD/MM/YYYY'"</b><br/>
						when required to set different format, default is
						<span class="m--font-danger">
							'YYYY-MM-DD'
						</span>
					</p>
					<p>
						<b>[presetSelection]="true"</b><br/>
						when required to show custom sidebar selection, default is
						<span class="m--font-danger">
							true
						</span>
					</p>
					<p>
						<b>[open]="'right'"</b><br/>
						Custom range open postion, default is
						<span class="m--font-danger">
							right
						</span>
						| center | left
					</p>
					<p>
						<b>[drop]="'down'"</b><br/>
						Open position from input, default is
						<span class="m--font-danger">
							down
						</span>
						| up
					</p>
				</div>
			</div>
		</div>
	</div>
</div>