.range_inputs {
    .applyBtn {
        width: 88px;
    }

    .cancelBtn {
        width: 88px;
        margin-left: 3px;
    }
}

#c-left {
    width: 88px;
}

#c-right {
    width: 88px;
    margin-left: 6px;
}
