<div mat-content flex mat-scroll-y>
  <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
    <ng-template tdLoading="features.load">
      <td-search-box class="push-left push-right" (searchDebounce)="search($event)" placeholder="search"
                     [alwaysVisible]="true" (autocomplete)="off"><</td-search-box>
      <mat-divider></mat-divider>
      <td-data-table
        #dataTable
        [data]="filteredRows"
        [columns]="columns"
        [sortable]="false"
        [multiple]="true"
        [(ngModel)]="selectedRows"
        (rowSelect)="selectRow($event)"
        (selectAll)="selectAllRows($event)"
        dense>
        <ng-template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
          <div layout="row">
            <span flex="40">{{value}}</span>
          </div>
        </ng-template>
        <ng-template tdDataTableTemplate="value" let-value="value" let-row="row" let-column="column">
          <div layout="row">
            <span flex="20">{{value}}</span>
          </div>
        </ng-template>
        <ng-template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
          <div layout="row">
            <a mat-button color="accent" class="text-upper" (click)="viewUser(row)">
              <span flex="10">View</span>
            </a>
          </div>
        </ng-template>
      </td-data-table>
      <!--todo-->
      <!--<td-paging-bar #pagingBar-->
      <!--[pageSizes]="[10, 20]"-->
      <!--[total]="totalSize$ | async"-->
      <!--(change)="page($event)">-->
      <!--</td-paging-bar>-->
    </ng-template>
  </mat-card>
</div>
<a mat-fab color="accent" class="mat-fab-bottom-right" (click)="createDialog()">
  <mat-icon>add</mat-icon>
</a>
