<div mat-content flex mat-scroll-y>
  <div mat-content flex mat-scroll-y>
    <div layout="column" layout-gt-md="row" class="inset">
      <div flex-gt-md="70">
        <mat-card>
          <mat-card-title># {{(user$ | async)?.name}}</mat-card-title>
          <mat-divider></mat-divider>
          <div layout="row" layout-wrap hide-xs hide-sm class="push-sm">
            <div layout="column" flex>
              <mat-list dense>
                <mat-list-item>
                  <mat-icon mat-list-icon>local_offer</mat-icon>
                  <h4 mat-line>{{(user$ | async)?.email}}</h4>
                  <p mat-line>Email</p>
                </mat-list-item>
              </mat-list>
            </div>
            <div layout="column" flex>
              <mat-list dense>
                <mat-list-item>
                  <mat-icon mat-list-icon>local_offer</mat-icon>
                  <h4 mat-line>{{(user$ | async)?.realName}} </h4>
                  <p mat-line>Full Name NRIC</p>
                </mat-list-item>
              </mat-list>
            </div>
            <div layout="column" flex>
              <mat-list dense>
              </mat-list>
            </div>
          </div>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>

      <div flex-gt-md="30">
        <mat-card class="bgc-green-600" flex>
          <mat-card-content class="text-center">
            <div class="mat-display-1">{{ (user$ | async)?.status}}</div>
            <div layout="column" layout-padding>
              <div class="mat-subhead tc-grey-100">{{(user$ | async)?.status}}</div>
              <div class="mat-subhead tc-grey-100"></div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-title>Action</mat-card-title>
          <mat-card-subtitle>Actions available on current User</mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-nav-list dense>
            <!--<mat-list-item (click)="register()">-->
              <!--<mat-icon mat-list-avatar>done</mat-icon>-->
              <!--<h4 mat-line>Reviewer</h4>-->
              <!--<p mat-line>Reviewer this User</p>-->
            <!--</mat-list-item>-->
            <mat-list-item (click)="remove()">
              <mat-icon mat-list-avatar>remove_circle</mat-icon>
              <h4 mat-line>Remove</h4>
              <p mat-line>Remove this User</p>
            </mat-list-item>
            <mat-list-item (click)="edit()">
              <mat-icon mat-list-avatar>edit</mat-icon>
              <h4 mat-line>Edit</h4>
              <p mat-line>Edit this User</p>
            </mat-list-item>
          </mat-nav-list>
        </mat-card>
      </div>
    </div>
  </div>

</div>


