<body>


  <div class="container">
    <div class="row">
      <!-- Fileter by name -->
      <div class="col-md-6">
        <div class="form-group m-form__group">
          <input class="form-control" [(ngModel)]="listFilter" type="text" placeholder="Search by Name"
            id="filterInput" />
          <hr>
          <div class="col">
            <div *ngIf='listFilter' class="form-text text-muted">Filtered by: {{listFilter}}</div>
          </div>
        </div>
      </div>
      <!-- Fileter by id -->
      <div class="col-md-6">
        <div class="input-group ">
          <input #searchId class="form-control" type="text" id="id" required ngModel name="id"
            placeholder="Search by ID" />
          <div class="input-group-append">
            <button class="btn btn-secondary" type="submit" (click)="search(searchId.value)"
              [disabled]="searchId.value === ''"><img src="../assets/search-24px.svg">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <button class="btn btn-warning" (click)="onGetToken()">
          Show Token
        </button>
        <button class="btn btn-success" (click)="onAddHeader()" *ngIf="token">
          Add Header
        </button>
        <hr>
      </div>

    </div>
    <div class="row">
      <!-- <div class="col-xs-12 col-md-9 col-md-offset-8"> -->
      <table class="table table-hover" *ngIf="filteredCandidates">
        <thead>
          <tr>
            <th scope="col">User ID</th>
            <th scope="col">name</th>
            <th scope="col">contact</th>
            <th scope="col">email</th>
            <th scope="col">action</th>
          </tr>
        </thead>

        <tbody *ngFor="let c of filteredCandidates">
          <tr>
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
            <td>{{c.contact}}</td>
            <td>{{c.email}}</td>
            <td>
              <button type="button" class="btn btn-info" routerLink="/update/{{c.id}}"><img
                  src="../assets/create-24px.svg"></button>
              <button type="button" class="btn btn-danger" (click)="remove(c.id)"><img
                  src="../assets/delete-24px.svg"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>