<body>
 <!-- Fileter by id -->
  <label class="sr-only" for="search">Search</label>
      <div class="search input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">Search</div>
        </div>
        <input
          id="search"
          type="text"
          class="form-control"
          [(ngModel)]="Candidate"
          (keyup)="search()"/>
        <span class="input-group-append">
          <button
            class="btn btn-danger"
            (click)="resetQuery()"
            [disabled]="!query">&times;</button>
        </span>
      </div>
  
  <div class="container">
    <div class="row">
      <!-- <div class="col-xs-12 col-md-9 col-md-offset-8"> -->
      <table class="table table-hover" *ngIf="Candidate">
        <thead>
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">name</th>
            <th scope="col">contact</th>
            <th scope="col">email</th>
            <th scope="col">action</th>
          </tr>
        </thead>

        <tbody *ngFor="let c of Candidate">
          <tr>
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
            <td>{{c.contact}}</td>
            <td>{{c.email}}</td>
            <td>
              <button type="button" class="btn btn-info" routerLink="/update/{{c.id}}"><img src="../assets/create-24px.svg"></button>
              <button type="button" class="btn btn-danger" (click)="delete(c.id)"><img src="../assets/delete-24px.svg"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </div> -->
</body>
