<div class="m-subheader" sticky-header>
	<div class="row">
		<div class="col-sm-12 col-lg-6 col-xl-6">
			<h3 class="m-subheader__title">
				{{ 'Date Picker' | translate }}
			</h3>
		</div>
	</div>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group m-form__group">
						<label>
							{{ 'Normal' | translate }}
						</label>
						
						<app-date-picker [defaultDate]="defaultDate" (outputDate)="outputDate($event)"></app-date-picker>

						<!-- <input type='text' class="form-control" id="m_datepicker" readonly
							placeholder="{{'Choose Date' | translate}}" /> -->
						<button class="btn m-btn btn-primary m--margin-top-20" (click)="setDate()">
							{{ 'Manually Set Date' | translate }}
						</button>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group m-form__group">
						<label>
							{{ 'Month' | translate }}
						</label>
						
						<app-date-picker [id]="'month'" [defaultDate]="defaultDate" [isMonthPicker]="true" [format]="'yyyy M'" [outputFormat]="'YYYY MMM'"
							(outputDate)="outputDate($event)">
						</app-date-picker>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>