<div class="m-subheader" sticky-header>
	<div class="row">
		<div class="col-sm-12 col-lg-6 col-xl-6">
			<h3 class="m-subheader__title">
				{{ 'Color Picker' | translate }}
			</h3>
		</div>
	</div>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body" [style.height]="'500px'">
			<div class="row">
				<div class="col-lg-9 col-xl-6">
					<h5 class="left-text">
						{{ 'Color Theme' | translate }}
					</h5>
					<div class="input-group">
						<input class="form-control"
							[cpPosition]="'bottom'"
							[cpOutputFormat]="'hex'"
							[(colorPicker)]="colorCode" 
							[style.background]="colorCode"/>
						<div class="input-group-prepend">
							<span class="input-group-text cursor" (click)="colorCode = '#9c5b56'">
								{{ 'Default' | translate }}
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>